<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858144438332-pe02s509jmuccpk8nait3j26vhc3p15f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858144438332-pe02s509jmuccpk8nait3j26vhc3p15f</string>
	<key>API_KEY</key>
	<string>AIzaSyBixXa7XiHKEaKMFEyQpGwZABnGXbwfoLw</string>
	<key>GCM_SENDER_ID</key>
	<string>858144438332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WaterLilly.hikaku</string>
	<key>PROJECT_ID</key>
	<string>hikakudata</string>
	<key>STORAGE_BUCKET</key>
	<string>hikakudata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858144438332:ios:f39b9c0560e5315fc8ab39</string>
</dict>
</plist>